<!DOCTYPE html>
<html>
<link rel="stylesheet" href='/static/advancestyle.css' />
<body>
<div class="box">
	
	<h1>Advanced search</h1>
	
	<div >
		<form class="form">
			<span class="firstlabel"><input type="checkbox" name="author">Author</span>	
			<span class="firstlabel"><input type="text" name="author-input"></span>
			<p>
			<span class="secondlabel"><input type="checkbox" name="title">Title</span>	
			<span class="secondlabel"><input type="text" name="title-input"></span>
			<p>				 
			<span class="thirdlabel"><input type="checkbox" name="publisher">Publisher</span>	
			<span class="thirdlabel"><input type="text" name="publisher-input"></span>
			<p>				
			<p>
			<span class="fourthlabel"><input type="checkbox" name="subject">Subject</span>	
			<span class="fourthlabel"><input type="text" name="subject-input"></span>
			<p>			

		</form>
			
	</div>
	
	<input type="submit" value="Submit" class="submit">
	
	</div>
</div>

</body>


</html>
