<!DOCTYPE html>
<html>
	<link rel="stylesheet" href='/static/userstyle.css' />
<body>
<div class = "header-container">

	<div class ="header-logo">
		<img src="/static/b&n.png" />
	</div>
	<div class="header-search">
		<span class="search">
			<div class="header-searchbox">
				<input type="text" name="search" id="search">
				<br>
				<h1 class="header-link" onclick="location.href='/search'">Advanced search</h1>
			</div>
			<div class="header-searchicon">
				<input type="image"src="/static/search icon.png" onclick="alert('Hello')">

			</div>
		</span>
		
		<span class="links">
			<div class="link"> Order history
			</div>
			<div class="link"> Feedbacks
			</div>
			<div class="link"> Ratings
			</div>
		</span>
	</div>

</div>

<div class="line">
</div>

<div class="recommendations">
</div>

</body>


</html>
